<section class="py-4">
  <div class="container py-4">
    <div class="row g-4">
      @for (item of productList; track $index) {
      <div class="col-md-3">
        <div class="card">
          <img
            class="card-img-top"
            [src]="item.imageCover"
            [alt]="item.title"
          />
          <div class="card-body">
            <h4 class="card-title fs-5">{{ item.title }}</h4>
            <p class="card-text small">{{ item.description }}</p>
            <div class="d-flex justify-content-between">
              <h5>Price: {{ item.price }}</h5>
              <h5>Quantity: {{ item.quantity }}</h5>
            </div>
            <h6>onSale: {{ item.onSale }}</h6>
          </div>
        </div>
      </div>
      }
    </div>
    <hr />
    <h2 class="py-3">Recommended Products :</h2>
    <button class="btn btn-primary" #ele>Show Products...</button>

    @defer ( on interaction(ele); ) {
    <app-recommended-products></app-recommended-products>
    } @placeholder {
    <h4 class="text-center py-3 px-2">loading...</h4>
    }
  </div>
</section>
